<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PCJackHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <PCJackHost.Properties.Settings>
      <setting name="IPLabel" serializeAs="String">
        <value>Press Start</value>
      </setting>
    </PCJackHost.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="httpbinding" receiveTimeout="00:01:00" sendTimeout="00:00:20"
          messageEncoding="Text" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MetadataYT" name="ComputerHost.Services.YouTubeService">
        <endpoint address="http://localhost:8082/youtube/basic" binding="basicHttpBinding"
          bindingConfiguration="httpbinding" name="YouTubeService"
          contract="ComputerHost.IYouTubeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082/youtube" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MetadataS" name="ComputerHost.Services.SystemService">
        <endpoint address="http://localhost:8082/system/basic" binding="basicHttpBinding"
          bindingConfiguration="httpbinding" contract="ComputerHost.ISystemService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082/system" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataYT">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8082/youtube/meta"
            httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="MetadataS">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8082/system/meta"
            httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>